body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    background-color: hsl(212, 45%, 89%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#holder {
    padding: 10px;
    margin: 0px;
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    color: hsl(218, 44%, 22%);
}

#holder img {
    margin: 5px;
    width: 100%;
    max-width: 240px;
    height: auto;
    display: block;
    border-radius: 10px;
}

#holder p{
    margin: 5px;
}

@media (max-width: 375px) {
    #holder {
        width: 90%;
        margin: 10px;
    }
}